:root {
    --navbackground: #36393F;
    --background: #222831;
    --section: #393E46;
    --textcolor: white;
}

body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: var(--background);
    color: var(--textcolor);
}

#buy-section {
    padding-top: 5em;
    background: var(--section);
    padding-bottom: 5em;    
}

.nav-header {
    background-color: var(--background); /* Header background color */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1); /* Shadow under the header */
    position: static;
}

nav {
    padding: 10px 20px; /* Padding inside the navigation */
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center; /* Centering items horizontally */
}

.nav-list li {
  /* flex: 1; */ /* Remove this line to center items */
  text-align: center;
  padding: 10px 20px; /* Adjust padding as needed */
  cursor: pointer;
  text-transform: uppercase;
}

.dropdown {
    position: relative;
}

.link-section {
    text-align: center;
    margin: auto;
    width: 100%; /* Adjust based on your layout needs */
}

.link-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block; /* Centers the list in the section */
}

.link-list li {
    display: inline; /* Display list items side by side */
    margin: 0 10px; /* Add some spacing between items */
}

.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff; /* Dropdown background color */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Dropdown shadow */
    list-style: none;
    padding: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    border-radius: 8px;
}

.dropdown-menu li {
    padding: 8px 0;
    cursor: pointer;
}

/* Hover effect for dropdown items */
.dropdown-menu li:hover {
    background-color: #f0f0f0; /* Hover background color */
}

section {
    margin-top: 5em;
    margin-bottom: 5em;
}

#cashtag {
    display: inline-block;
    position: relative;
    padding: 0px 15px;
    border: 2px solid var(--textcolor);
    color: red;
    transform: rotate(358deg);
    -webkit-transform: rotate(358deg);
}

h1, h2, h3, h4 {
    text-align: center;
}

.heading {
    max-width: 75%;
    text-align: center;
    margin: auto;
    font-size: large;
    font-weight: 400;
}

.clipboard {
    cursor: pointer;
    display: inline-flex;
}

.address {
    text-align: center;
}

.address-section {
    margin-top: 5em;
}

a {
    text-decoration: none;
    color: var(--textcolor);
}

.img-container {
    text-align: center;
}

.terminal-container, .ways-to-buy {
    width: 50%;
}

.ways-to-buy {
    margin: auto;
}

.buy-container {
    display: flex;
}

.button-list {
    justify-content: space-between;
    padding: 0;
    margin: auto;
    list-style: none;
    height: 50%;
    width: 50%;
}

.button-list li {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.button-list li button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: antiquewhite; /* Default background color */
    color: #000000; /* Default text color */
    cursor: pointer;
    font-size: 16px;
}

.button-list li button:hover {
    background-color: #f0f0f0; /* Change background color on hover */
}

.dropdown-menu li {
    padding: inherit;
}

.faq-item {
    margin-bottom: 20px;
}
.faq-question {
    font-weight: bold;
}

.faq-container {
    text-align: left;
    width: 75%;
    margin: auto;
}

.socials {
    list-style: none;
    margin-right: 2.5em;
}

.socials-ul {
    display: flex;
}

#integrated-terminal {
    display: inline-block;
    margin-left: 10em;
}

.clipboard {
    position: relative;
}

.clipboard:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 60px;
    background-color: grey;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;

    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}

.clipboard:hover:before {
    opacity: 1;
    visibility: visible;
}

.carousel {
    position: relative;
    max-width: 600px; /* Your desired max width */
    height: 400px; /* Your desired height */
    overflow: hidden;
    margin: auto !important;

  }
  
  .slide {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .slide.active {
    display: block;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .indicators {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .dot.active {
    background-color: #717171;
  }


@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    nav {
        font-size: 10px;
    }

    .nav-list li {
        padding: 10px 15px;
    }

    .buy-container {
        display: block;
    }

    .terminal-container {
        width: 100%;
    }

    #integrated-terminal {
        margin-left: 0;
    }

    .button-list {
        width: 100%;
    }
}
